$white-color: #FFFFFF;
$blue-color: #3798F3;
$light-blue-color: rgba($blue-color, 0.4);
$dirty-blue-color: #474F65;
$black-color: #1C1A1A;
$grey-color: #6D6F75;
$light-grey-color: #A4A4A4;
$red-color: #F30828;

@mixin cell-transition {
	transition: all 0.3s ease;
}
