@import "../../Styles/variables.module";

.arrow {
	height: 36px;
	width: 28px;
	background: rgba($blue-color, 0.12);
	cursor: pointer;
	display: flex;
	//justify-content: center;
	align-items: center;

	&.left {
		justify-content: flex-start;
		border-radius: 0 18px 18px 0;
		grid-area: arrow-left;
		margin-right: 5px;
		padding-left: 6px;
	}

	&.right {
		justify-content: flex-end;
		border-radius: 18px 0 0 18px;
		grid-area: arrow-right;
		margin-left: 5px;
		padding-right: 6px;
	}

	& > .icon {
		& > svg {
			transform: scale(1.2);

			& > path {
				fill: $blue-color;
			}
		}
	}

	&.disabled {
		opacity: 0;
		pointer-events: none;
	}
}
