.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.header {
		display: flex;
	}

	.body {
		//display: grid;
		//grid-template-areas: "arrow-left week-days arrow-right" "arrow-left month arrow-right";
		//justify-content: center;
		//align-items: center;
		.month {
			display: flex;
			flex-direction: column;
		}
	}

	.footer {

	}
}
