@font-face {
	font-family: "Roboto-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
