@import "../../../Styles/variables.module";

.month {
	//padding: 9px 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 74px;
	width: 98px;

	& > .value {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 56px;
		width: 74px;
		position: relative;
		font-size: 16px;
		line-height: 22px;
		font-weight: 600;
		//padding: 18px 22px;
		cursor: pointer;
		text-align: center;

		@include cell-transition;
	}

	&.current {
		&:not(.hovered) > .value {
			&:before {
				content: "";
				height: 50px;
				width: 64px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				border: 2px solid $light-blue-color;
				border-radius: 6px;
			}
		}
	}

	&.selected {
		& > .value {
			border: 0;
			border-radius: 8px;
			background: $blue-color;
			color: $white-color;
		}
	}

	&.hovered:not(.selected):not(.invalid) {
		& > .value {
			border: 0;
			border-radius: 8px;
			background: $light-blue-color;
		}
	}

	&.invalid:not(.selected) {
		& > .value {
			&:before {
				content: "";
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				border: 2px solid $red-color;
				border-radius: 8px;
			}
		}
	}
}
