@import "../../../Styles/variables.module";

.week-days {
	display: flex;
	justify-content: center;
	grid-area: week-days;

	& > .week-day {
		width: 42px;
		text-align: center;
		font-size: 14px;
		line-height: 19px;
		color: $grey-color;
		margin-bottom: 25px;

		&.weekend {
			color: $light-grey-color;
		}
	}
}
