@import "../../../Styles/variables.module";

.day {
	position: relative;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $dirty-blue-color;
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
	cursor: pointer;

	@include cell-transition;

	&.hovered:not(.invalid):not(.selected) {
		border: 0;
		border-radius: 8px;
		background: $light-blue-color;
	}

	&.weekend {
		color: $light-grey-color;
	}

	&.not-current-month {
		color: rgba($dirty-blue-color, 0.3);
	}

	&.selected {
		border: 0;
		color: $white-color;
		border-radius: 8px;
		background: $blue-color;
	}

	&.today:not(:hover) {
		&:before {
			content: "";
			width: 36px;
			height: 36px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			border: 2px solid $light-blue-color;
			border-radius: 6px;
		}
	}

	&.invalid:not(.selected) {
		&:before {
			content: "";
			width: 38px;
			height: 38px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			border: 2px solid $red-color;
			border-radius: 6px;
		}
	}
}
