.month-container {
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-areas: "arrow-left week-days arrow-right" "arrow-left month arrow-right";

	& > .month {
		display: grid;
		grid-area: month;
		grid-template-columns: repeat(7, 1fr);
	}
}
