@import "../Styles/variables.module";

.error-date-tooltip {
	& > .invalid, & > .incorrect {
		& > .text {
			font-size: 15px;
			line-height: 20px;
			font-weight: 600;
			text-align: center;
			color: $white-color;
		}
	}
}

